@media all and (max-width: 1280px) {
   .hero {
      .box-welcome {
         width: 700px;
      }
   }
   
   .skills {
      object {
         width: 100px;
         height: 100px;
      }
   }
}

@media all and (max-width: 768px) {
   
}
   
