//colors 
$secondary-text: #CCC5C5;  
$text-icons: #FFFFFF;
$primary-text: #000000;
$primary-color: #F05F40;

*, *:before, *:after {
   box-sizing: border-box;
}



html {
   font-size: 10px;
   font-family: 'Lora', serif;
}

h2 {
      text-align: center;
      font-size: 3rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $text-icons;
      padding-bottom: 5px;
      border-bottom: 3px solid $text-icons;
   }

.section-padding {
   padding-top: 80px;
   padding-bottom: 80px;
}

.portfolio-padding {
   padding-top: 50px;
   padding-bottom: 50px;
}

.contact-button {
   text-align: center;
   margin-top: 20px;
}

.btn {
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   text-decoration: none;
   border: 2px solid $primary-text;
   padding: 10px 40px;
   transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#scrollTopButton {
   display: inline-block;
   position: fixed;
   visibility: hidden;
   text-align: center;
   line-height: 80px;
   font-size: 5rem;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   background: $secondary-text;
   color: $primary-color;
   right: 30px;
   bottom: 80px;
   z-index: 9999;
}

#scrollTopButton.scrollTopShow {
   cursor: pointer;
   visibility: visible;
   transition: .3s;
   &:hover {
      color: $text-icons;
      background: $primary-text;
   }
}

//     *********   HERO SECTION ************

.hero {
   position: relative;
   height: 100vh;
   background: url('../assets/hero-background.jpeg') center/cover;
   box-shadow: 20px;
   border-radius: 0px 0px 20px 21px;
   .button {
      position: absolute;
      bottom: 40px;
      text-align: center;
      width: 100%;
      .fas {
         color: $text-icons;
         font-size: 6rem;
         transition: .6s;
         &:hover {
            transform: translate(0px, 14px);
         }
      }
   }
   .box-welcome {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      h1 {
         font-size: 8rem;
         text-transform: uppercase;
         color: $text-icons;
         letter-spacing: 10px;
         margin: 0;
      }
      p {
         font-size: 4rem;
         text-transform: uppercase;
         color: $text-icons;
         letter-spacing: 3px;
         font-weight: 600;
         margin: 10px;
      }
      .line {
         width: 50%;
         border: none;
         background: $primary-color;
         height: 5px;
      }
   }
}

.main-navigation {
   height: 70px;
   position: fixed;
   width: 100%;
   z-index: 99;
   transition: all 0.5s;
   justify-content: center;
   .hamburger {
      display: none;
      font-size: 5rem;
      line-height: 70px;
      text-align: center;
      cursor: pointer;
      transition: .5s;
      &:hover {
         color: $primary-color;
      }
   }
   ul {
      overflow: hidden;
      text-align: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      transition: .4s;
      li {
         margin-left: 40px;
         display: inline-block;
         &:first-child {
            margin-left: 0;
         }
         a {
            font-size: 2.4rem;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 70px;
            color: $text-icons;
            font-weight: 700;
            padding: 0 0 3px 0;
            transition: all .5s;
            &:hover {
               border-bottom: 2px solid $text-icons;
            }
         }
         a {
            &:focus {
               color: $primary-color;
               border-bottom: 2px solid $primary-color;
            }
         }
      }
   }
}

.view-nav {
background: $text-icons;
   ul {
      li {
         a {
      font-size: 2.2rem;
      color: $primary-text;
            &:hover {
               border-color: $primary-text;
            }
         }
      }
   }
}


//     *********   ABOUT ME ************

.about-me {
   background: $primary-color;
   border-radius: 20px 21px;
   p {
      font-size: 2.2rem;
      color: $secondary-text; 
      letter-spacing: 0.2px;
      font-weight: 600;
      padding: 0;
      margin: 0;
   }
}

.about-me {
   .my-image {
      background: url(../assets/photo-3.jpg) top/cover;
      height: 100%;
      width: 264px;
      border: 6px solid $secondary-text;
      border-radius: 50%;
   }
   .padding-about-me {
      padding: 30px 0;
      height: 340px;
   }
   .photo-box {
      display: flex;
      justify-content: flex-end;
   }
   .text-about {
      display: flex;
      align-items: center;
   }
   .btn {
      color: $primary-text;
      background: $text-icons;
      border: none;
      &:hover {
         box-shadow: 0 0 40px 40px $secondary-text inset;
         color: $text-icons;
      }
   }
}

//***************** PORTFOLIO ***************

.portfolio {
   h2 {
      color: $primary-text;
      border-color: $primary-color;
   }
   .btn {
      color: $text-icons;
      border: none;
      background: $primary-color;
      &:hover {
         box-shadow: 0 0 40px 40px $secondary-text inset;
         color: $primary-text;
      }
   }
   .gallery-box {
      position: relative;
      height: 300px;
      padding: 15px;
      .hover-effect {
         position: absolute;
         bottom: 100%;
         left: 0;
         right: 0;
         overflow: hidden;
         width: 100%;
         height:0;
         transition: .5s ease;
         .link-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .icon {
               font-size: 3rem;
               padding: 10px 30px;
               color: $text-icons;
            }
         }
      }
   }
   .padding-0 {
   padding-top: 0;
   }
}

.mini-image {
   border: 1px solid $primary-color;
   cursor: pointer;
   &:hover .hover-effect {
      bottom: 0;
      height: 100%;
      }
}


.image-1 {
   background: url(../assets/calculator.png) bottom/cover;
   height: 100%;
   width: auto;
}

.image-2 {
   background: url(../assets/projekt1.png) bottom/cover;
   height: 100%;
   width: auto;
}

.image-3 {
   background: url(../assets/projekt2.png) bottom/cover;
   height: 100%;
   width: auto;
}

.image-4 {
   background: url(../assets/projekt3.png) bottom/cover;
   height: 100%;
   width: auto;
}

.image-5 {
   background: url(../assets/projekt4.png) bottom/cover;
   height: 100%;
   width: auto;
}


// *************** SKILLS *****************

.skills {
   text-align: center;
   border-radius: 20px 21px;
   h2 {
      color: $primary-text;
      border-color: $primary-color;
      margin-bottom: 80px;
   }
   object {
      margin: 20px;
      width: 150px; 
      height: 150px;
      filter: drop-shadow(0px 0px 10px rgba(33, 33, 33, .8));
   }
}

//    **************** CONTACT ************** 

.contact {
   background: $primary-color;
   border-radius: 20px 21px 0 0;
   padding-bottom: 0;
   h2 {
      color: $text-icons;
      border-color: $text-icons;
   }
}

.contact {
   text-align: center;
   .social-media {
      margin-top: 20px;
      text-align: center;
      p {
         font-size: 1.6rem;
         letter-spacing: 3px;
         color: $secondary-text;
      }
      a {
         color: $secondary-text;
      }
      i {
         font-size: 4rem;
         margin: 20px 20px 0 20px;
         color: $text-icons;
         transition: all 0.9s ease-in-out;
         &:hover {
            transform: rotate(360deg) scale(1.5);
         }
      }
   }
}

footer {
   display: block;
   font-size: 20px;
   color: $primary-text;
   text-align: center;
   background: rgba(255, 255, 255, 0.5);
   padding: 20px;
   margin-top: 40px;
}


//          MEDIA QUERIES 

@media all and (max-width: 1280px) {
   .hero {
      .box-welcome {
         h1 {
            font-size: 6rem;
         }
         p {
            font-size: 5rem;
         }
         .line {
            width: 100%;
         }
      }
   }
   
   .skills {
      object {
         width: 100px;
         height: 100px;
      }
   }
}

@media all and (max-width: 768px) {
   
   
   .main-navigation {
      background: $text-icons;
      .hamburger {
      display: block;
      }
      ul {
         width: 100%;
         max-height: 0;
         background: $text-icons;
         li {
            display: block;
            margin: 0;
            a {
               color: $primary-text;
               font-size: 3rem;
               &:hover {
                  border-color: $primary-text;
               }
            }
         }
      }
      .show {
         max-height: 500px;
         }
   }
   
   .hero {
      .box-welcome {
         h1 {
            font-size: 3rem;
            
         }
         p {
            font-size: 2rem;
         }
         .line {
            width: 70%;
         }
      }
   }
   
   
   .about-me {
      .my-image {
         display: none;
      }
      p {
         font-size: 2rem;
      }
   }
}


@media all and (max-width: 576px) {
   
   .hero {
      .box-welcome {
         .line {
            width: 100%;
         }
      }
   }
   
   .about-me {
      p {
         font-size: 1.6rem;
      }
   }
   
   .skills {
      ul {
         object {
            width: 80px;
            height: 80px;
         }
      }
   }
}




   

